@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f4f7fb;
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar{
    background: linear-gradient(to right,#021B2B,#01263A);
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    color: white;
    font-size: 42px;
    font-weight: 700;
}

.nav-links a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 22px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #00c3ff;
}

/* MAIN CONTENT */

.main-content{
    min-height:80vh;
    padding:30px;
}

/* CARD */

.custom-card{
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* FOOTER */

.footer{
    background:#0f2027;
    color:white;
    padding:40px;
}

.footer a{
    color:white;
    text-decoration:none;
}

.footer ul{
    list-style:none;
    padding:0;
}

.footer li{
    margin-bottom:10px;
}

/* DASHBOARD IMAGES */

.graph-img{
    width:100%;
    border-radius:10px;
}

.hero-section{

    background:url('https://images.unsplash.com/photo-1534088568595-a066f410bcda?q=80&w=1200');

    background-size:cover;

    background-position:center;

    height:350px;

    border-radius:20px;

    overflow:hidden;

    margin-bottom:30px;
}

.hero-overlay{

    background:rgba(0,0,0,0.6);

    height:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:50px;

    color:white;
}

.hero-text h1{

    font-size:50px;

    margin-bottom:20px;
}

.hero-text p{

    font-size:22px;
}

.hero{
    width: 90%;
    margin: 40px auto;
    border-radius: 30px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1534088568595-a066f410bcda');

    background-size: cover;
    color: white;
}

.hero-left h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.hero-left p{
    font-size: 28px;
}

.search-card{
    background: rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 25px;
    width: 450px;
}

.search-card input{
    width: 100%;
    padding: 18px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-bottom: 20px;
}

.search-btn{
    background: #008cff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.search-btn:hover{
    background: #0066cc;
}

.aqi-number{
    font-size: 90px;
    color: green;
    font-weight: bold;
}

.aqi-card{

    background:white;

    color:black;

    padding:30px;

    border-radius:20px;

    text-align:center;

    width:200px;
}

.aqi-card h1{

    font-size:60px;

    color:green;
}
.nav-link.active{

    color:#00c6ff !important;

    font-weight:bold;

    border-bottom:2px solid #00c6ff;
}

.result-card{
    width: 90%;
    margin: auto;
    background: white;
    border-radius: 25px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.stats-card{

    background:white;

    border-radius:20px;

    padding:30px;

    text-align:center;

    box-shadow:0 4px 12px rgba(0,0,0,0.1);

    transition:0.3s;
}

.stats-card:hover{

    transform:translateY(-5px);
}

.stats-card h1{

    font-size:45px;

    color:#0072ff;

    font-weight:bold;
}

.stats-card p{

    font-size:18px;

    margin-top:10px;
}

.info-boxes{
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.box{
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.box h1{
    font-size: 60px;
    color: #008cff;
}